<!DOCTYPE html>
<html>
  <head>
    <title>The Future of Trading | MACHINESTATES</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   
    <meta name="twitter:title" content="MACHINESTATES">
    <meta name="twitter:description" content="Welcome to the future of trading.">
    <meta name="twitter:image" content="https://machinestates.com/images/index-01.jpg">
    <meta name="twitter:card" content="summary_large_image">

    <meta property="og:title" content="MACHINESTATES">
    <meta property="og:description" content="Welcome to the future of trading.">
    <meta property="og:image" content="https://machinestates.com/images/index-01.jpg">
    <meta property="og:url" content="https://machinestates.com">

    <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
    <link rel="manifest" href="/icon/site.webmanifest">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet" />
    <link href="/stylesheets/main.css" rel="stylesheet" />
  </head>
  <body>
    <div class="s129">
      <div class="container">
        <img style="width: 200px;" src="/images/machinestates.png" />
      </div>
    </div>
    <!-- 100% privacy-first analytics -->
    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
  </body>
</html>